<%- include ./partials/header.ejs %>
<%- include ./partials/navbar.ejs %>

<div id="wrapper"> 
    <article> <h3><%= title %></h3><!--Main body of information on this page is presented through the semantic article tag-->
                <div id="welcome"><b>Welcome To My Website</b></div>
                    <p>If you want to learn about who I am, check out the "About Me" page.</p>
                    <p>If you want to learn about some of the projects I have worked on, check out the "Projects" page.</p>
                    <p>If you have any questions or comments for me, send them over via the "Contact Me" page. </p>
                <div id="photo"><img src="Assets/images/WelcomeImage.jpg" alt="Nicholas Skoric atop the old Palmer Barn, Pickering, Ontario"></div> <!--Insert the image, fall back to simple text if image cannot load-->
                <div id="h3b">Thanks for stopping by</div>
                <br><br><br>
    </article>
</div>
<%- include ./partials/footer.ejs %>
